nav {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
	background-color: white;
}

nav > .logo {
	font-style: italic;
	font-weight: 800;
	font-size: 16px;
}

nav a {
	border: 1px solid black;
	padding: 3px;
	text-decoration: none;
	color: black;
}

nav>span:last-child {
	margin-left: 30px;
}

nav a:hover {
	color: white;
	background-color: CadetBlue;
	border-color: CadetBlue;
}

textarea {
	width: 1323px;	
	height: 18px;	
	margin-bottom: 5px;
	margin-top: 	5px;
}

table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid black;
	padding: 0px;
}

input[type=text] {
    border: none;
    padding-left: 1px;
}

input[type=text]:hover {
    background-color: lightcyan;
}

input[type=text]:focus {
	outline: none;
	background-color: lightcyan;
}

.add_rows {
	width: 100%;
	border: none;
	background-color: PowderBlue;
    cursor: pointer;
}

.add_rows:hover {
	background-color: CadetBlue;
	color: white;
}

.tabs {
	width: 48px;
	margin: 0;
}

.tabs_hidden {
	visibility: hidden;
	display:none;
}

.tabs_visible {
	display: table-cell;
	background-color: cyan;
}



tbody td {
	cursor: cell;	
}

td:hover {
    background-color: lightcyan;
}

td:hover + td {
    background-color: lightcyan; /*for browsers whitch not-supported gradient */
    background: linear-gradient(to left, rgba(224, 255, 255, 0) 50%, rgba(224, 255, 255, 0.7)); /*lightcyan*/
}

.main_tabs {
	text-align: center;
    background-color: lightcyan;
    cursor: pointer;
}

nav,
thead th,
.textarea {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 0;
}

.textarea {
	background-color: 	white;
	top: 22px;
}

thead th {
	top: 54px;
}

textarea {
	height: 23px;
	resize: none;
	outline: none;	
	overflow: hidden;
	font-size: 15px;
}

#currentCell {
	font-size: 14px;
	letter-spacing: 1.5;
}

.currentCellNumber {
	font-size: 16px;
	color: CadetBlue;
	font-weight: 800;
	display: inline-block;
}

.currentCellNumber::first-letter {
	font-size: 16px;
	color: SteelBlue;
	font-weight: 800;
}